import React from 'react';
import styles from './{{pascalCase name}}Page.module.css';
import { RootState } from '../../store';

const {{ pascalCase name }}Page = (props) => {
return (
<div className={styles.root}>
</div>
)
}
{{ pascalCase name }}Page.defaultProps = {};

{{ pascalCase name }}Page.propTypes = {};

export default {{ pascalCase name }}Page;