import React from 'react';
import styles from './{{pascalCase name}}Page.module.css';

const {{ pascalCase name }}Page = (props) => {
  React.useEffect(()=>{});
return (
<div className={styles.root}>
   {{ pascalCase name }}Page
</div>
)
}
{{ pascalCase name }}Page.defaultProps = {};

{{ pascalCase name }}Page.propTypes = {};

export default {{ pascalCase name }}Page;