import React, {useState} from 'react';
// import {useDispatch, useSelector} from "react-redux";
// import { RootState } from '../../store';
import styles from './{{ pascalCase name }}.module.css';

const {{ pascalCase name }} = props => {
// const [state, setState] = useState(undefined)
// const dispatch = useDispatch()
// const exampleState = useSelector((state: RootState) => state.example)
return (
<div className={styles.root}></div>
)
};

{{ pascalCase name }}.defaultProps = {};

{{ pascalCase name }}.propTypes = {};

export default {{ pascalCase name }}